<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Email</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Address</th>
                <th scope="col">Gender</th>
                <th scope="col">Role</th>
                <th scope="col">Action</th>

            </tr>
        </thead>
        <% for (let i=0; i< data.length ;i++) { %>
            <tr>
                <td>
                    <%= data[i].id %>
                </td>
                <td>
                    <%= data[i].email %>
                </td>
                <td>
                    <%= data[i].firstName %>
                </td>
                <td>
                    <%= data[i].lastName %>
                </td>
                <td>
                    <%= data[i].phonenumber %>
                </td>
                <td>
                    <%= data[i].address %>
                </td>
                <td>
                    <%if (data[i].gender===1) { %>
                        Male
                        <% } %>
                            <%if (data[i].gender===0) { %>
                                Female
                                <% } %>

                </td>
                <td>
                    <%if (data[i].roleId==="1" ) { %>
                        Admin
                        <% } %>
                            <%if (data[i].roleId==="2" ) { %>
                                Doctor
                                <% } %>
                                    <%if (data[i].roleId==="3" ) { %>
                                        Patien
                                        <% } %>
                </td>
                <td>
                    <a class="btn btn-light btn-sm" href="/edit-crud?id=<%= data[i].id%>" role="button">Edit</a>
                    <a class="btn btn-light btn-sm" href="/delete-crud?id=<%= data[i].id%>" role="button">Delete</a>
                </td>
            </tr>
            <% } %>
    </table>
</body>

</html>